          <div class="post">
            <h3 class="post-title">
              <span class="post-icon">
              {% if post.thumbnail %}
	            <img src="{{ post.thumbnail | prepend: site.baseurl }}" align="center"></img>
	          {% elsif post.icon %}
                <i class="fa fa-{{ post.icon }} fa-1x"></i>
              {% else %}
                <i class="fa fa-cube"></i>
	          {% endif %}
              </span>
              <a href="{{ post.url }}" class="post-link">{{ post.title }}</a>
              <small class="post-date">{{ post.date | date: "%b %-d, %Y" }}</small>
            </h3>
            <div class="post-summary">
              <p>
              {% if post.summary %}
                {{ post.summary }}
              {% else %}
                {{ post.excerpt }}
              {% endif %}
              </p>
            </div>
            <div class="post-buttons">
              <div class="post-tags">
                {% for label in post.tags %}
                <a href="{{ label | prepend: 'blog/search.html?tag=' | prepend: site.baseurl }}" class="btn btn-labeled btn-info btn-xs" role="button">
                  <span class="btn-label"><i class="glyphicon glyphicon-tags"></i></span> 
                  {{ label }}
                </a>
                {% endfor %}
              </div>
              <div class="post-categories">
                {% for label in post.categories %}
                  {% if label != site.blog_cat %}
                    <a href="{{ label | prepend: 'blog/search.html?cat=' | prepend: site.baseurl }}" class="btn btn-labeled btn-success btn-xs" role="button">
                      <span class="btn-label"><i class="glyphicon glyphicon-paperclip"></i></span> 
                      {{ label }}
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>

