{% raw %}
<script id="template-search" type="text/x-tmpl">
  {% for (var i=0, post; post=o.posts[i]; i++) { %}
      <div class="post">
        <h3 class="post-title">
          <span class="post-icon">
          {% if (post.thumbnail) { %}
            <img src="{%=post.thumbnail%}" align="center"></img>
          {% } else { %}
            {% if (post.icon) { %}
            <i class="fa fa-{%=post.icon%} fa-1x"></i>
            {% } else { %}
            <i class="fa fa-cube"></i>
            {% } %}
          {% } %}
          </span>
          <a href="{%=post.url%}" class="post-link">{%=post.title%}</a>
          <small class="post-date">{%=post.date%}</small>
        </h3>
        <div class="post-summary">
          <p>{%=post.summary%}</p>
        </div>
        <div class="post-buttons">
          <div class="post-tags">
            {% for (var j=0, tag; tag=post.tags[j]; j++) { %}
            <button type="button" class="btn btn-labeled btn-info btn-xs">
              <span class="btn-label"><i class="glyphicon glyphicon-tags"></i></span>
              {%=tag%}
            </button>
            {% } %}
          </div>
          <div class="post-categories">
            {% for (var j=0, cat; cat=post.categories[j]; j++) { %}
            {% if (cat != o.blog) { %}
            <button type="button" class="btn btn-labeled btn-success btn-xs">
              <span class="btn-label"><i class="glyphicon glyphicon-paperclip"></i></span>
              {%=cat%}
            </button>
            {% } %}
            {% } %}
          </div>
        </div>
      </div>
      {% if ((i + 1) != o.posts.length) { %}
      <hr>
      {% } %}
 {% } %}
</script>
{% endraw %}
